@model CummingsApplication.Models.Viewmodels.FormViewModel

@using CummingsApplication.Enums 

<div class="container-fluid" id="body">
    <form asp-action="Index">


        <div class="row">
            <div class="col-1">
                <img src="~/img/city.PNG" id="lefthandImgs" />
            </div>
            <div class="col-11">
                <div class="col-12-lg">
                    <h4>PROVIDING AGENCY INFORMATION</h4>
                </div>
                <div class="row" id="lightGreyBackground">

                    <div class="col-lg-9">
                        <input asp-for="@Model.ProvidingAgency.AgentName" id="agencyNames" class="form-control" type="text" placeholder="Providing Agent Name" />
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="@Model.ProvidingAgency.Date" class="form-control" />
                        <span asp-validation-for="@Model.ProvidingAgency.Date" class="text-danger"></span>
                    </div>

                    <div class="col-lg-9">
                        <input asp-for="@Model.ProvidingAgency.AgencyName" id="agencyNames" class="form-control" type="text" placeholder="Providing Agency" />
                        <span asp-validation-for="@Model.ProvidingAgency.AgencyName" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="@Model.ProvidingAgency.MobileNumber" class="form-control" placeholder="Mobile Number" />
                        <span asp-validation-for="@Model.ProvidingAgency.MobileNumber" class="text-danger"></span>
                    </div>

                    <div class="col-sm-5">
                        <input asp-for="@Model.ProvidingAgency.City" class="form-control" placeholder="City" />
                        <span asp-validation-for="@Model.ProvidingAgency.City" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2">
                        <select class="darkArrow" asp-for="Jail.State" asp-items="Html.GetEnumSelectList<States>()"><option disabled hidden selected>State</option></select>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="@Model.ProvidingAgency.County" class="form-control" placeholder="County" />
                        <span asp-validation-for="@Model.ProvidingAgency.County" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-1">
                <img src="~/img/handcuffs.PNG" id="lefthandImgs" />
            </div>
            <div class="col-11">
                <div class="col-12-lg">
                    <h4>JAIL INFORMATION</h4>
                </div>
                <div class="row" id="lightTanBackground">

                    <div class="col-lg-12">
                        <input asp-for="@Model.Jail.Name" id="agencyNames" type="text" class="form-control" placeholder="Jail Name" />
                        <span asp-validation-for="@Model.Jail.Name" class="text-danger"></span>
                    </div>

                    <div class="col-sm-5">
                        <input asp-for="@Model.Jail.City" class="form-control" placeholder="City" />
                        <span asp-validation-for="@Model.Jail.City" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2">
                        <select class="darkArrow" asp-for="Jail.State" asp-items="Html.GetEnumSelectList<States>()"><option disabled hidden selected>State</option></select>

                    </div>
                    <div class="col-lg-5">
                        <input asp-for="@Model.Jail.County" class="form-control" placeholder="County" />
                        <span asp-validation-for="@Model.Jail.County" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1">
                <img src="~/img/Bond.PNG" id="lefthandImgs" />
            </div>
            <div class="col-11">
                <div class="col-12-lg">
                    <h4>BOND TRANSFER INFORMATION</h4>
                </div>
                <div class="row" id="lightGreyBackground">
                    <img src="~/img/dollaricon.PNG" id="dollarSign" />
                    <div class="col-lg-5">
                        <input asp-for="@Model.BondTransfer.Amount" class="form-control" placeholder="Bond Amount">
                        <span asp-validation-for="@Model.BondTransfer.Amount" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <input asp-for="@Model.BondTransfer.SerialNumber" class="form-control" placeholder="Serial Number" />
                        <span asp-validation-for="@Model.BondTransfer.SerialNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>




        <div class="row">
            <div class="col-1">
                <img src="~/img/People.PNG" id="lefthandImgs" />
            </div>
            <div class="col-11">
                <div class="col-12-lg">
                    <h4>REQUESTING AGENCY INFORMATION</h4>
                </div>
                <div class="row" id="lightTanBackground">

                    <div class="col-lg-9">
                        <input asp-for="@Model.RequestingAgency.Name" id="agencyNames" type="text" class="form-control" placeholder="Requesting Agency" />
                        <span asp-validation-for="@Model.RequestingAgency.Name" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <input asp-for="@Model.RequestingAgency.MobileNumber" id="agencyNames" class="form-control" placeholder="Mobile Number" />
                        <span asp-validation-for="@Model.RequestingAgency.MobileNumber" class="text-danger"></span>
                    </div>

                    <div class="col-sm-5">
                        <input asp-for="@Model.RequestingAgency.City" class="form-control" placeholder="City" />
                        <span asp-validation-for="@Model.RequestingAgency.City" class="text-danger"></span>
                    </div>
                    <div class="col-sm-2">
                        <select class="darkArrow" asp-for="RequestingAgency.State" asp-items="Html.GetEnumSelectList<States>()"><option disabled hidden selected>State</option></select>
                    </div>
                    <div class="col-sm-5">
                        <input asp-for="@Model.RequestingAgency.County" class="form-control" placeholder="County" />
                        <span asp-validation-for="@Model.RequestingAgency.County" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-1">
                <img src="~/img/greenicon.PNG" id="lefthandImgs" />
            </div>
            <div class="col-11">
                <div class="col-12-lg">
                    <h4>DEFENDANT INFORMATION</h4>
                </div>
                <div class="row" id="defendant">

                    <div class="col-lg-3">
                        <input asp-for="@Model.Defendant.LastName" class="form-control" value="Smith" placeholder="Last Name" id="defendantLastName" />
                        <span asp-validation-for="@Model.Defendant.LastName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <input asp-for="@Model.Defendant.FirstName" class="form-control" placeholder="First Name" id="defendantBold" />
                        <span asp-validation-for="@Model.Defendant.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <input asp-for="@Model.Defendant.BirthDate" class="form-control" placeholder="DOB" id="defendantBold" />
                        <span asp-validation-for="@Model.Defendant.BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-lg-2">
                        <input asp-for="@Model.Defendant.SocialSecurityNumber" class="form-control" placeholder="SSN" id="defendantBold" />
                        <span asp-validation-for="@Model.Defendant.SocialSecurityNumber" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <button type="button" class="btn" id="goBtn">GO!</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-1">
                <img src="~/img/yellowicon.PNG" id="lefthandImgs" />
            </div>
            <div class="col-11">
                <div class="col-12-lg">
                    <h4>INDEMNITOR INFORMATION</h4>
                </div>
                <div class="row" id="lightTanBackground">

                    <div class="col-lg-3">
                        <input asp-for="@Model.Indemnitor.FirstName" class="form-control" id="indemnitorFirstName" placeholder="First Name" />
                        <span asp-validation-for="@Model.Indemnitor.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-3">
                        <input asp-for="@Model.Indemnitor.MiddleName" class="form-control" placeholder="Middle Name" />
                        <span asp-validation-for="@Model.Indemnitor.MiddleName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6">
                        <input asp-for="@Model.Indemnitor.LastName" class="form-control" placeholder="Last Name" />
                        <span asp-validation-for="@Model.Indemnitor.LastName" class="text-danger"></span>
                    </div>

                    <div class="col-lg-12">
                        <input asp-for="@Model.Indemnitor.Alias" id="agencyNames" type="text" class="form-control" placeholder="Alias Name" />
                        <span asp-validation-for="@Model.Indemnitor.Alias" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <input asp-for="@Model.Indemnitor.BirthDate" class="form-control" placeholder="Date of Birth" />
                        <span asp-validation-for="@Model.Indemnitor.BirthDate" class="text-danger"></span>
                    </div>
                    <div class="col-sm-3">
                        <select class="darkArrow" asp-for="Indemnitor.Gender" asp-items="Html.GetEnumSelectList<Genders>()"><option disabled hidden selected>Gender</option></select>
                    </div>
                    <div class="col-sm-4">
                        <select class="darkArrow" asp-for="Indemnitor.Ethnicity" asp-items="Html.GetEnumSelectList<Ethnicity>()"><option disabled hidden selected>Ethnicity</option></select>
                    </div>
                    <div class="col-sm-3">
                        <input asp-for="@Model.Indemnitor.SocialSecurityNumber" class="form-control" placeholder="Social Security" />
                        <span asp-validation-for="@Model.Indemnitor.SocialSecurityNumber" class="text-danger"></span>
                    </div>

                    <div class="col-lg-8">
                        <input asp-for="@Model.Indemnitor.EmailAddress" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="@Model.Indemnitor.EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <input asp-for="@Model.Indemnitor.MobilePhoneNumber" class="form-control" placeholder="Mobile Phone" />
                        <span asp-validation-for="@Model.Indemnitor.MobilePhoneNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-1">
                <img src="~/img/redicon.PNG" id="lefthandImgs" />
            </div>
            <div class="col-11">
                <div class="col-12-lg">
                    <h4>ADDITIONAL INFORMATION (Holds, Immigration)</h4>
                </div>
                <div class="row" id="lightRedBackground">

                    <div class="col-12">
                        <input asp-for="@Model.AdditionalInfo.Info" class="form-control" />
                        <span asp-validation-for="@Model.AdditionalInfo.Info" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-1">
                <input type="checkbox" asp-for="AdditionalInfo.DisclaimerAccepted" class="form-control" id="disclaimerBox" />
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-lg-12" id="disclaimer">

                        <p>
                            “Disclaimer: The above named Requesting Agency has requested that Palmetto Surety Corporation
                            cause be executed and posted a bail bond(s) commonly known as a Transfer Bond(s). Palmetto Surety
                            Corporation has honored that request.
                        </p>
                        <p>
                            Upon honoring this request, it should be known that the Requesting Agency holds full liability and
                            responsibility to the described defendant(s). This shall constitute but not be limited to ensuring
                            defendant appearance, maintain track of the defendant’s case, working with the defendant to receive all
                            court notifications, and any costs/fees/loss incurred as a result of the forfeiture of the said defendant(s).
                            Failure of the Posting Agent to notify Palmetto Surety Corporation/Requesting Agency of court
                            communications is not causing the Requesting Agency to bypass liability/responsibility of said
                            defendant(s).
                        </p>
                        <p>
                            By accepting these terms, Requesting Agency (liable agent) does hereby accept all liability for said
                            Transfer Bond(s)(identified above) under the terms of their Palmetto Surety Corporation Bail Bond
                            Agreement (liable contract). Requesting Agency, as agreed prior to the posting of the said bond(s), will
                            pay the above-listed fees for this service.”
                        </p>


                        <div class="col-1">
                            <input type="checkbox" asp-for="AdditionalInfo.DisclaimerAccepted" class="form-control" id="disclaimerBoxMobile" />
                        </div>
                    </div>
                    <div class="col-lg-12" id="submitContainer">
                        <input class="btn" type="submit" id="submitBtn" value="SUBMIT" />
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="row">
        <div class="col-lg-12" id="logoContainer">
    <img src="~/img/Logo.PNG" id="logo" />
        </div>
    </div>
</div>
